[program:lxsession]
priority=10
directory=/root
command=/usr/bin/lxsession
user=root
autostart=true
autorestart=true
stopsignal=QUIT
environment=DISPLAY=":1",HOME="/root"
stdout_logfile=/var/log/lxsession.log
redirect_stderr=true